.table-1 {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 250px;
    margin: auto !important;
    border: 3px solid rgba(100, 41, 205, 1);
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.2);
}

.table-2 {
    width: 550px;
    height: 300px;
    border-radius: 250px;
    margin: auto !important;
    border: 3px solid rgba(189, 189, 255, 0.6);
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(189, 189, 255, 0.6);
}

.table-3 {
    width: 500px;
    height: 250px;
    border-radius: 250px;
    margin: auto !important;
    background-color: #1F0D3F99;
    border: 1px solid #6429CD;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.06);
}