
<app-modal *ngIf="showInviteModal">
  <div class="title">
    <app-label [labelText]="'Invitar Jugadores'" />
    <button class="close__button" (click)="onShowModal()">X</button>
  </div>
  <input class="url" disabled value="{{url}}" />
  <app-button [text]="'Copiar link'" (buttonClick)="shareLink()" />
</app-modal>

<app-modal *ngIf="changeGameMode">
  <div class="title">
    <app-label [labelText]="'Cambiar modo de juego'" />
    <button class="close__button" (click)="onChangeGameMode()">X</button>
  </div>
  <div class="row gap player__form__options">
    <label class="font-color gap custom-radio">
      Fibonacci
      <input
        type="radio"
        name="gameMode"
        value="fibonacci"
        [(ngModel)]="selectedGameMode"
      />
      <span class="radio__button"></span>
    </label>
    <label class="font-color gap custom-radio">
      Horas
      <input
        type="radio"
        name="gameMode"
        value="hours"
        [(ngModel)]="selectedGameMode"
      />
      <span class="radio__button"></span>
    </label>
  </div>
  
  <app-button [text]="'Guardar'" (buttonClick)="saveGameMode(selectedGameMode)" />
</app-modal>

<app-toast></app-toast>
<div [class.blurred]="showInviteModal || changeGameMode">
  <app-navbar
    [gameId]="gameId"
    [playerName]="registeredPlayer.nickname"
    [gameName]="gameName"
    (buttonClick)="onShowModal()"
  />
  <form
    #playerForm="ngForm"
    (ngSubmit)="createPlayer(playerForm)"
    class="form player__form"
    *ngIf="gameId && !registeredPlayer.playerId"
  >
    <label for="nickname" class="form__label">Tu nombre</label>
    <input
      type="text"
      class="form__input"
      autocomplete="off"
      name="nickname"
      [(ngModel)]="player.nickname"
      required
    />
    <div class="row gap player__form__options">
      <label class="font-color gap custom-radio">
        Jugador
        <input
          type="radio"
          name="role"
          value="player"
          [(ngModel)]="player.role"
        />
        <span class="radio__button"></span>
      </label>
      <label class="font-color gap custom-radio">
        Espectador
        <input
          type="radio"
          name="role"
          value="spectator"
          [(ngModel)]="player.role"
        />
        <span class="radio__button"></span>
      </label>
    </div>
    <app-error [errorMessage]="errorPlayerMessage"></app-error>
    <app-button
      [isActive]="!player.nickname"
      [text]="'Continuar'"
      [buttonType]="'submit'"
    >
    </app-button>
  </form>
  <div *ngIf="gameId && registeredPlayer.playerId" class="gameContainer">
    <div class="row button__options">
      <button (click)="changeRole()" class="change__role">
        {{ registeredPlayer.role == "player" ? "Cambiar a modo espectador" : "Cambiar a modo jugador" }}
      </button>
      <button (click)="onChangeGameMode()" class="change__gamemode" *ngIf="!showCards">
        Cambiar Modo de Juego
      </button>
      <button (click)="selectNewAdmin()" class="change__admin" *ngIf="registeredPlayer.isAdmin">
        Asignar administrador
      </button>
    </div>
    <div class="table-container">
      <app-table>
        <button *ngIf="registeredPlayer.isAdmin" (click)="showCards ? startNewGame() : onShowCards()" class="reveal__button">
          {{ showCards ? "Nueva Votacion" : "Revelar cartas" }}
        </button>
        <div class="player" *ngFor="let player of playerList; let i = index" [ngStyle]="getPlayerPositionStyle(i, playerList.length)">
          <app-card *ngIf="checkVote(player.nickname)" [value]="showCards ? getVoteValue(player.nickname) : undefined" [isSelected]="!showCards" />
          <app-player-card *ngIf="!checkVote(player.nickname)" [playerName]="player.nickname" />
          </div>
      </app-table>
    </div>

    <div class="cards" *ngIf="!showCards && registeredPlayer.role == 'player' && !isChangingAdmin">
      <h1>Elige una Carta 👇</h1>
      <div class="cards__list row">
        <div *ngIf="!showCards" class="row">
          <app-card
            *ngFor="let value of cards"
            [value]="value"
            (clickEvent)="selectCard($event)"
            [isSelected]="value == selectedCardValue"
            [playerType]="registeredPlayer.role"
          ></app-card>
        </div>
      </div>
    </div>
    <div class="cards" *ngIf="isChangingAdmin">
      <h1>Asigna un administrador 👇</h1>
      <div class="cards__list row">
        <div class="row" *ngFor="let player of playerList">
          <button class="button__change__admin" (click)="makeAdmin(player)" *ngIf="player.playerId !== registeredPlayer.playerId">
            <app-player-card [playerName]="player.nickname" />
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showCards && !isChangingAdmin" class="cards">
      <h1>Votos</h1>
      <div class="row cards__list selectedCardsList">
        <div class="row cards__list">
          <div class="count__list" *ngFor="let item of countVotes()">
            <app-card [value]="item.numberValue"></app-card>
            <span class="font-color" style="text-align: center">
              {{ item.count || 0 }} voto(s)
            </span>
          </div>
        </div>
        <div class="count__list">
          <app-label [labelText]="'Puntaje'" />
          <span class="average">{{ average }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
