<app-navbar [gameId]="gameId" [playerName]="registeredPlayer.nickname">
</app-navbar>
<app-toast></app-toast>
<form
  #playerForm="ngForm"
  (ngSubmit)="createPlayer(playerForm)"
  class="form player__form"
  *ngIf="gameId && !isNewPlayer"
>
  <label for="nickname" class="form__label">Tu nombre</label>
  <input
    type="text"
    class="form__input"
    autocomplete="off"
    name="nickname"
    [(ngModel)]="player.nickname"
    required
  />
  <div class="row gap player__form__options">
    <label class="font-color gap custom-radio">
      Jugador
      <input
        type="radio"
        name="role"
        value="player"
        [(ngModel)]="player.role"
      />
      <span class="radio__button"></span>
    </label>
    <label class="font-color gap custom-radio">
      Espectador
      <input
        type="radio"
        name="role"
        value="spectator"
        [(ngModel)]="player.role"
      />
      <span class="radio__button"></span>
    </label>
  </div>
  <app-error [errorMessage]="errorPlayerMessage"></app-error>
  <app-button
    [isActive]="!player.nickname"
    [text]="'Continuar'"
    [buttonType]="'submit'"
  >
  </app-button>
</form>
<div *ngIf="gameId && isNewPlayer" class="gameContainer">
  <div class="ellipse-container">
    <app-table />
    <button
      *ngIf="registeredPlayer.isAdmin"
      (click)="showCards ? startNewGame() : onShowCards()"
      class="reveal__button"
    >
      {{ showCards ? "Nueva Votacion" : "Revelar cartas" }}
    </button>
    <div *ngFor="let player of playerList; let i = index">
      <app-card
        *ngIf="checkVote(player.nickname)"
        [value]="showCards ? getVoteValue(player.nickname) : undefined"
        [ngStyle]="{ top: positions[i].top, left: positions[i].left }"
        class="ellipse-item"
      />
      <app-avatar
        *ngIf="!checkVote(player.nickname)"
        [playerName]="player.nickname"
        [ngStyle]="{ top: positions[i].top, left: positions[i].left }"
        class="ellipse-item"
      />
    </div>
  </div>
  <div class="cards" *ngIf="!showCards">
    <h1>Elige una Carta 👇</h1>
    <div class="cards__list row">
      <div *ngIf="!showCards" class="row">
        <app-card
          *ngFor="let value of cards"
          [value]="value"
          (clickEvent)="selectCard($event)"
          [isSelected]="value == selectedCardValue"
          [playerType]="registeredPlayer.role"
        ></app-card>
      </div>
    </div>
  </div>
  <div *ngIf="showCards" class="cards">
    <h1>Votos</h1>
    <div class="row cards__list selectedCardsList">
      <div class="row cards__list">
        <div class="count__list" *ngFor="let item of votes">
          <app-card [value]="item.voteValue"></app-card>
          <span class="font-color" style="text-align: center"
            >{{ countVotes()[item.voteValue] || 0 }} voto(s)</span
          >
        </div>
      </div>
      <div class="count__list">
        <app-label [labelText]="'Puntaje'" />
        <span class="average">{{ average }}</span>
      </div>
    </div>
  </div>
</div>
