.gameContainer {
    height: 100%;
    display: flex;
    margin-top: 50px !important;
    justify-content: center !important;
    flex-direction: column;
}

.form {
    position: absolute;
    width: 100% !important;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.player__form {
    z-index: 20 !important;
    padding: 50px 5% !important;
    background-color: #1F0D3F;
    border-radius: 25px;
    border: 2px solid rgba(100, 41, 205, 1);
    box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.2);
}

.player__form__options {
    justify-content: space-around;
}

/* radio-buttons.component.css */
.custom-radio {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    font-size: 16px;
}
  
.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0; /* Oculta el radio button nativo */
}
  
.radio__button {
    position: absolute;
    right: -30px;
    width: 20px;
    height: 20px;
    border: 1px solid #BB65FF;
    border-radius: 50%;
    background-color: #1F0D3F;
    box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.2);
}
  
.custom-radio input[type="radio"]:checked + .radio__button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #BB65FF;
    box-shadow: 0px 0px 10px 0px #BDBDFFB2;
    transform: translate(-50%, -50%);
}
  
.form__label {
    color: white;
    font-weight: 700;
}

.form__input {
    background-color: transparent;
    border: 1px solid rgba(187, 101, 255, 1);
    color: white;
    outline: none;
    padding: 10px !important;
    border-radius: 100px;
    font-weight: 400;
}

.cards, .count {
    display: flex;
    flex-direction: column;
    color: white !important;
    text-align: center !important;
    margin-top: 80px !important;
    gap: 20px;
}

.count__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.cards__list {
    gap: 20px !important;
    justify-content: center !important;
}

.selectedCardsList {
    justify-content: space-evenly !important;
}

.average {
    font-size: 30px;
    font-weight: bold;
}

.ellipse-container {
    position: relative;
    width: 770px;
    height: 570px;
    margin: auto !important;
    border-radius: 250px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
  
.ellipse-item {
    position: absolute;
}

.reveal__button, .change__role, .change__admin {
    position: absolute !important;
    margin: auto !important;
    border-radius: 50px;
    border: none;
    background-color: #6429CD !important;
    padding: 10px 20px !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: bold;
    cursor: pointer;
}

.change__role {
    top: 120px !important;
    right: 50px !important;
}

.change__admin {
    top: 120px !important;
    left: 50px !important;
}

.button__change__admin {
    background: none !important;
    border: none !important;
    cursor: pointer;
}

.blurred {
    filter: blur(5px); /* Ajusta el nivel de desenfoque según sea necesario */
    pointer-events: none; 
}