.modal {
    position: absolute;
    width: 100% !important;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    gap: 20px;
    z-index: 2;
    background-color: #1F0D3F;
    padding-bottom: 40px !important;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(100, 41, 205, 1);
    box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.2);
    border-radius: 25px;
}