.navbar {
    width: 100%;
    margin: auto !important;
    justify-content: space-between;
    align-items: center !important;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 0px !important;
    z-index: 2;
}

.navbar__brand {
    font-size: 20px !important;
    font-weight: bold !important;
}

.navbar__image {
    width: 60px;
    height: 60px;
}

.navbar__title {
    text-align: center;
}

.navbar__invite {
    border-radius: 50px;
    padding: 10px 20px !important;
    background: none !important;
    border: 2px solid #F6F7FC;
    cursor: pointer;
    font-weight: bold;
    z-index: 5;
}