.btn {
    transition: 0.5s;
    background-color: white;
    color: #330072;
    padding: 12px 24px !important;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    margin: auto !important;
    border-radius: 50px;
    cursor: pointer;
    border: none !important;
}

.btn__disabled {
    color: #9D9DA199;
    cursor: not-allowed;
    background-color: #9D9DA14D;
}