<div class="navbar row">
    <div class="navbar__brand row">    
        <img src="assets/logo-poker.png" alt="pragma_logo_poker" class="navbar__image">
        <p class="font-color" *ngIf="!gameId">Crear partida</p>
    </div>
    <h1 class="navbar__title font-color"> {{gameName}} </h1>
    <div class="row">
        <app-avatar [playerName]="playerName"></app-avatar>
        <button class="navbar__invite font-color" *ngIf="gameId && gameName" (click)="onClick()">Invitar Jugadores</button>
    </div>
</div>