<div class="main">
  <form #roomForm="ngForm" (ngSubmit)="createRoom(roomForm)" class="form" *ngIf="!gameId">
    <label for="gameName" class="form__label">Nombre de la partida</label>
    <input
      type="text"
      class="form__input"
      autocomplete="off"
      name="gameName"
      [(ngModel)]="gameName"
      required
    />
    <div *ngIf="errorMessage" class="error__messages">
      <p>{{ errorMessage }}</p>
    </div>
    <button type="submit" class="form__button" [ngClass]="{'button__disabled': !gameName}" [disabled]="!gameName">Crear partida</button>
  </form>
  <div *ngIf="gameId">
    <app-table></app-table>
  </div>
</div>
