<div class="main">
  <app-navbar [gameName]="gameName" [gameId]="gameId"/>
  <form
    #roomForm="ngForm"
    (ngSubmit)="createRoom(roomForm)"
    class="form"
    *ngIf="!gameId"
  >
    <label for="gameName" class="form__label">Nombre de la partida</label>
    <input
      type="text"
      class="form__input"
      autocomplete="off"
      name="gameName"
      [(ngModel)]="gameName"
      required
    />
    
    <app-error [errorMessage]="errorMessage"></app-error>
    <app-button
      [isActive]="!gameName"
      [text]="'Crear partida'"
      [buttonType]="'submit'"
    >
    </app-button>
  </form>
  <form
    #playerForm="ngForm"
    (ngSubmit)="createPlayer(playerForm)"
    class="form player__form"
    *ngIf="gameId && !isNewPlayer"
  >
    <label for="nickname" class="form__label">Tu nombre</label>
    <input
      type="text"
      class="form__input"
      autocomplete="off"
      name="nickname"
      [(ngModel)]="player.nickname"
      required
    />
    <div class="row gap player__form__options">
      <label class="font-color gap custom-radio">
        Jugador
        <input
          type="radio"
          name="role"
          value="player"
          [(ngModel)]="player.role"
        />
        <span class="radio__button"></span>
      </label>
      <label class="font-color gap custom-radio">
        Espectador
        <input
          type="radio"
          name="role"
          value="spectator"
          [(ngModel)]="player.role"
        />
        <span class="radio__button"></span>
      </label>
    </div>
    <app-error [errorMessage]="errorPlayerMessage"></app-error>
    <app-button
      [isActive]="!player.nickname"
      [text]="'Continuar'"
      [buttonType]="'submit'"
    >
    </app-button>
  </form>
  <div *ngIf="gameId && isNewPlayer">
    <app-table />
  </div>
</div>
