.main {
    width: 100% !important;
    height: 100vh;
    background: radial-gradient(#330072 0%, #1F0D3F 60%);
    display: flex !important;
    flex-direction: column !important;
}

.gameContainer {
    height: 100%;
    display: flex;
    justify-content: center !important;
    flex-direction: column;
}

.form {
    position: absolute;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}
  
.form__label {
    color: white;
    font-weight: 700;
}

.form__input {
    background-color: transparent;
    border: 1px solid rgba(187, 101, 255, 1);
    color: white;
    outline: none;
    padding: 10px !important;
    border-radius: 100px;
    font-weight: 400;
}

.cards {
    display: flex;
    flex-direction: column;
    color: white !important;
    text-align: center;
    margin-top: 80px !important;
    gap: 20px;
}

.cards__list {
    gap: 20px !important;
    justify-content: center !important;
}